h1 {background-color: #04f5ff;
    text-align: center;
    padding: 45px;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


.maincolumn{
    float: left;
    width: 100%;
    padding: 5px;
}


.row{
    display: flex;
}

body{
    margin: 0;
    background-color: #ddd;
}

*{
    box-sizing: border-box;
}

table{
    background-color: #ddd;
    padding: 5px;
}

.header{
    padding: 30px;
    text-align: center;
    background-color: #04f5ff;
    font-family: 'Courier New', Courier, monospace;
}

.search_bar{
    overflow: hidden;
    background-color: #5c5c5c;
}

.search_bar a{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}

.search_bar a:hover{
    background-color: rgb(188, 188, 188);
    color: black;

}

.card{
    background-color: white;
    padding: 25px;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .maincolumn{
        width: 100%;
        padding: 0;
    }
}

img{
        float: left;
        height: 256px;
}

.imgtxt{
    display: inline-block;
    margin: 40px;
    width: 33.333%;
}

.imgtxt p{
    text-align: center;
}